
{% extends 'base.html.twig' %}

{% block title %}Nos jeux{% endblock %}

{% block body %}
<h1 class="title text-center">LE COIN DU GEEK</h1>
<button>
    <a href="{{path('homepage')}}"> Acceuil </a>
</button>
<div class="container">
    <div class="row">
        {% for jeu in pagination %}
            <div class="col-md-4">
                <div class="card" style="max-width: 25rem;">
                    <img src="{{ jeu.image }}" class="img-fluid rounded-start" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ jeu.titre }}</h5>
                        <a href="{{ path('app_jeux_application_show', {'id': jeu.id}) }}" class="btn btn-primary">Voir le jeux</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{{ knp_pagination_render (pagination) }}
{% endblock %}
