{% extends 'base.html.twig' %}

{% block title %} {{ jeu.titre }} {% endblock %}

{% block body %}


    <h1 class="title text-center">{{ jeu.titre }}</h1>


 <div class="container mt-5">
      <hr>
        <div class="row justify-content-center mt-4 g-5">
          <div class="col-md-12 ">
            <div class="card mb-3" transition: all ease-in 1s;>
              <div class="row">
                <div class="col-md-6">
                  <img src="{{jeu.image}}" class="img-fluid" alt="Image">
                </div>
                <div class="col-md-6 ">
                  <div class="card-body" transition: all ease-in 1s;>
                    <h5 class="card-title text-center">{{ jeu.titre }}</h5>
                    <p class="card-text">{{ jeu.description }}</p>
                    <a href="{{ path('app_jeux_note', {'id': jeu.id}) }}" class="btn btn-primary">Voir la note </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
    

              
      

{% endblock %}