{% extends 'bootstrap.html.twig' %}

{% block body %}
<div class="container">
    <h1>Liste des jeux</h1>
    <div class="row mb-3">
        <div class="col-12 text-right">
            <a href="{{ path('jeux_add') }}" class="btn btn-primary">Ajouter un jeu</a>
        </div>
    </div>

    {% if app.getFlashes() is not empty %}
        {% for type, messages in app.flashes() %}
            {% for message in messages %}
                <div class="alert alert-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Image</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for jeu in jeux %}
                <tr>
                    <td>{{ jeu.titre }}</td>
                    <td> <img src= "{{ jeu.image }}" width="150px" height="150px"/> </td>
                    <td>{{ jeu.description }}</td>
                    <td>
                        <form action="{{ path('supprimer', {'id': jeu.id}) }}" method="post" style="display: inline-block;">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ jeu.id) }}">
                            <button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
